{
	# Email for Let's Encrypt / ZeroSSL notifications
	email raythx98@gmail.com
}

129.150.49.141.sslip.io {
	# Enforce HTTPS is automatic here.
	# It will redirect port 80 -> 443.
	reverse_proxy app:8080

	# Optional: Enable compression for better performance
	encode gzip
}
